# Aula 8 - Checkpoint 1

Obs.:
* A equipe deve ser de 3 alunos (ou equipe já definida previamente);
* 1 aluno deve ser escolhido como lider e irá dizer se toda a equipe trabalhou no projeto, se alguém deixou de trabalhar e etc.
* 1 dos alunos deve apresentar a solução;
* Datas:
    * 04/04/2022 - Tira dúvidas do projeto, apresentação do nome dos integrantes da equipe, assim como o nome do lider e do apresentador;
    * 11/04/2022 - Entrega e apresentação;
* Pontuação (o que será avaliado):
    * Organização do Jupyter Notebook;
    * Metodologia desenvolvida;
    * Escrita científica:
        * Resumo (breve explicação do problema, da metodologia utilizada e das conclusões);
        * Objetivos;
        * Introdução (explicação do problema, referencias sobre o assunto, estado da arte...);
        * Desenvolvimento (como sua solução foi desenvolvida, porque...);
        * Conclusão (resultados e considerações finais);
        * Referências (links sites, artigos utilizados..)
    * Qualidade do código e robustez contra exceptions;
    * Qualidade da apresentação;
    * Ortografia;
    * Análise Exploratóra;
    * Resultados;
* Todos os entregáveis devem estar em um repositório do github e compartilhado com o professor no email pf1472@fiap.com.br.

## Projeto

### Descrição
O conjunto de dados deste projeto prova que muito mais influencia as negociações de preços do que o número de quartos ou uma cerca branca.
<br>
<br>
Com 79 variáveis explicativas que descrevem (quase) todos os aspectos das casas residenciais em Ames, Iowa, este projeto desafia você a prever o preço final de cada casa.

### Avaliação
#### Objetivos
É seu trabalho prever a classe de venda de cada casa. Para cada ID no conjunto de teste, você deve prever a classe da variável SalePrice.
#### Métrica
F1 Score
#### Arquivo de saída
O arquivo deve conter um cabeçalho e ter o seguinte formato:
```
Id,SalePrice
1461,Low Price
1462,High Price
1463,Mid Price
etc.
```
#### Descrição dos arquivos
- train.csv - o conjunto de treinamento
- test.csv - o conjunto de teste
- data_description.txt - descrição completa de cada coluna

In [12]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report, confusion_matrix
from sklearn.impute import SimpleImputer

In [2]:
test = pd.read_csv('test.csv')
train = pd.read_csv('train.csv')

df = pd.concat([test, train])

In [3]:
df

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1461,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal,NaN
1,1462,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal,NaN
2,1463,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal,NaN
3,1464,60,RL,78.0,9978,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,6,2010,WD,Normal,NaN
4,1465,120,RL,43.0,5005,Pave,NaN,IR1,HLS,AllPub,...,0,NaN,NaN,NaN,0,1,2010,WD,Normal,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1143,1454,20,RL,90.0,17217,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,7,2006,WD,Abnorml,Low Price
1144,1455,20,FV,62.0,7500,Pave,Pave,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,10,2009,WD,Normal,Mid Price
1145,1456,60,RL,62.0,7917,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,8,2007,WD,Normal,Mid Price
1146,1459,20,RL,68.0,9717,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,4,2010,WD,Normal,Mid Price
1147,1460,20,RL,75.0,9937,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,6,2008,WD,Normal,Mid Price

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2607 entries, 0 to 1147
Data columns (total 81 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             2607 non-null   int64
 1   MSSubClass     2607 non-null   int64
 2   MSZoning       2603 non-null   object
 3   LotFrontage    2188 non-null   float64
 4   LotArea        2607 non-null   int64
 5   Street         2607 non-null   object
 6   Alley          192 non-null    object
 7   LotShape       2607 non-null   object
 8   LandContour    2607 non-null   object
 9   Utilities      2605 non-null   object
 10  LotConfig      2607 non-null   object
 11  LandSlope      2607 non-null   object
 12  Neighborhood   2607 non-null   object
 13  Condition1     2607 non-null   object
 14  Condition2     2607 non-null   object
 15  BldgType       2607 non-null   object
 16  HouseStyle     2607 non-null   object
 17  OverallQual    2607 non-null   int64
 18  OverallCond    2607 non-null   int64
 19  YearBuilt      2607 non-null   int64
 20  YearRemodAdd   2607 non-null   int64
 21  RoofStyle      2607 non-null   object
 22  RoofMatl       2607 non-null   object
 23  Exterior1st    2606 non-null   object
 24  Exterior2nd    2606 non-null   object
 25  MasVnrType     2587 non-null   object
 26  MasVnrArea     2588 non-null   float64
 27  ExterQual      2607 non-null   object
 28  ExterCond      2607 non-null   object
 29  Foundation     2607 non-null   object
 30  BsmtQual       2526 non-null   object
 31  BsmtCond       2525 non-null   object
 32  BsmtExposure   2525 non-null   object
 33  BsmtFinType1   2528 non-null   object
 34  BsmtFinSF1     2606 non-null   float64
 35  BsmtFinType2   2528 non-null   object
 36  BsmtFinSF2     2606 non-null   float64
 37  BsmtUnfSF      2606 non-null   float64
 38  TotalBsmtSF    2606 non-null   float64
 39  Heating        2607 non-null   object
 40  HeatingQC      2607 non-null   object
 41  CentralAir     2607 non-null   object
 42  Electrical     2606 non-null   object
 43  1stFlrSF       2607 non-null   int64
 44  2ndFlrSF       2607 non-null   int64
 45  LowQualFinSF   2607 non-null   int64
 46  GrLivArea      2607 non-null   int64
 47  BsmtFullBath   2605 non-null   float64
 48  BsmtHalfBath   2605 non-null   float64
 49  FullBath       2607 non-null   int64
 50  HalfBath       2607 non-null   int64
 51  BedroomAbvGr   2607 non-null   int64
 52  KitchenAbvGr   2607 non-null   int64
 53  KitchenQual    2606 non-null   object
 54  TotRmsAbvGrd   2607 non-null   int64
 55  Functional     2605 non-null   object
 56  Fireplaces     2607 non-null   int64
 57  FireplaceQu    1259 non-null   object
 58  GarageType     2451 non-null   object
 59  GarageYrBlt    2449 non-null   float64
 60  GarageFinish   2449 non-null   object
 61  GarageCars     2606 non-null   float64
 62  GarageArea     2606 non-null   float64
 63  GarageQual     2449 non-null   object
 64  GarageCond     2449 non-null   object
 65  PavedDrive     2607 non-null   object
 66  WoodDeckSF     2607 non-null   int64
 67  OpenPorchSF    2607 non-null   int64
 68  EnclosedPorch  2607 non-null   int64
 69  3SsnPorch      2607 non-null   int64
 70  ScreenPorch    2607 non-null   int64
 71  PoolArea       2607 non-null   int64
 72  PoolQC         7 non-null      object
 73  Fence          542 non-null    object
 74  MiscFeature    98 non-null     object
 75  MiscVal        2607 non-null   int64
 76  MoSold         2607 non-null   int64
 77  YrSold         2607 non-null   int64
 78  SaleType       2606 non-null   object
 79  SaleCondition  2607 non-null   object
 80  SalePrice      1148 non-null   object
dtypes: float64(11), int64(26), object(44)
memory usage: 1.6+ MB

In [11]:
df.isnull().sum()

Id                  0
MSSubClass          0
MSZoning            4
LotFrontage       419
LotArea             0
                 ...
MoSold              0
YrSold              0
SaleType            1
SaleCondition       0
SalePrice        1459
Length: 81, dtype: int64

In [13]:
imputer = SimpleImputer(missing_values=np.nan, strategy='mean')

NameError: name 'x' is not defined